body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Reg.svg');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

.login-btn {
    margin-left: 20px;
}

.background {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(8px); /* Apply blur effect to the background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.container {
    max-width: 400px;
    margin: 0 auto; /* Center the container horizontally */
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 30px); /* Adjust width to fit within the container */
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    outline: none;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
    color: #777;
}

button {
    width: 100%; /* Make button full-width within container */
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
